<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/erreur.css"> 
   <title>Erreur</title>
</head>
<body>

<main class="main">
   <h1 class="title">Pas d'articles à cette adresse</h1>
   <h2 class="subtitle">404</h2>
   <p class="return"><a href="/">Retour à l'accueil</a></p>
   <img class="logo" src="/images/logo.svg" alt="logo de l'école O'Clock">
</main>
    
</body>
</html>